### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Pandas Homework Assignment #1 - worked on both assignments and plan to have both complete this week.
# ''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''
# 1. Initialize the setup and Python Libraries/Dependencies
#    Dependencies and Setup
import pandas as pd
import numpy as np
import csv

In [2]:
# 2. Declare the source data file
data_file = "Resources/purchase_data.csv"

In [3]:
# 3. Read data_file of purchasing information create pandas data frame to store data
purchase_data = pd.read_csv(data_file)

In [4]:
# 4. Read the dataframe and display the head
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [5]:
# 5. Determine the total number of players (returned value = 576) - data presents with multiple players need unique
total_players = len(purchase_data['SN'].unique())
total_players

576

In [6]:
# 6. Create a dataframe with an index to show the same value - alternate method
#    Result should look like sample result - total number of players (returned value = 576) 
total_players_df = pd.DataFrame({"Total Players":total_players}, index = [0])
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# 7.  Complete Analysis on purchasing totals by creating variables and related code/calculations 
#     Based on sample table checkpoints 
#     a. Number of unique items
#     b. Average Price
#     c. Number of Purchases
#     d. Total Revenue
#     e. Create a summary datafram with the results (cleaned up with formating) 
# ''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''

In [8]:
# 7.a. Determine the length - a. number of unique items  (total of unique items = 183)
items = len(purchase_data['Item ID'].unique())
items

183

In [9]:
# 7.b. Determine the average price (mean) - b. average price for all of the items - need to format $ with two decimals ($3.05)
average_price = "$"+str(round(purchase_data['Price'].mean(),2))
average_price

'$3.05'

In [10]:
# 7.c. Determine the number of purchases (count the purchases for a total) total purchaes = 780
total_purchases = purchase_data['Purchase ID'].count()
total_purchases

780

In [11]:
# 7.d. Determine the total revenue (sum the price value and format)  total revenu = $2379.77
total_revenue = "$"+str(round(purchase_data['Price'].sum(),2))
total_revenue

'$2379.77'

In [12]:
# 7.e. Create a dataframe 
#      Display the items determined above and format the table with an index/columns
purchasing_analysis_df = pd.DataFrame({"Number of Unique Items":items,
                                       "Average Price":average_price,
                                       "Number of Purchases":total_purchases,
                                       "Total Revenue":total_revenue},
                                      index = [0],
                                      columns = ['Number of Unique Items',
                                                 'Average Price',
                                                 'Number of Purchases',
                                                 'Total Revenue'])
purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

In [13]:
#  Gender Demographics 
# ''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [14]:
# 8. Percentages of values for players
#   a. Percentage and Count of Male Players
#   b. Percentage and Count of Female Players
#   c. Percentage and Count of Other / Non-Disclosed

In [15]:
# 8. determine the counts of players (use unique because of duplicate entries for sales) set a variable
#    use the created variable in a dataframe to calculate percentage players and total counts
unique_players = purchase_data.drop_duplicates(subset=['SN']).groupby('Gender').count()['SN']
unique_players

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [16]:
# 8.d Create a dataframe to calculate the percentages 
#    use the created variable in a dataframe to calculate (%players and total counts)
unique_players_df = pd.DataFrame({"Percentage of Players":round(unique_players/total_players*100),
                                  "Total Count":unique_players}).sort_values('Percentage of Players', ascending = False)
unique_players_df

                       Percentage of Players  Total Count
Gender
Male                                    84.0          484
Female                                  14.0           81
Other / Non-Disclosed                    2.0           11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [17]:
#  Purchasing Analysis (Gender) 
# ''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''

In [18]:
# 9.
#  Determine calculations by gender..... use a dataframe to present the results (tried using stack (no joy))
#  a. purchase count, 
#  b. average purchase price, 
#  c. average purchase total per person (by gender)
#  d. Create a summary data frame to hold the results (with clean formating)
# ''''''''''''''''''''''''''''''''''''''''''''''
#    note:  remember you can't see the data, but an object is created
# ''''''''''''''''''''''''''''''''''''''''''''''
group_gender = purchase_data.groupby('Gender')
group_gender

In [19]:
# 10 Create variables for purchase counts... using the object group gender counts
# The value_counts method counts unique values in a column
#count = data_file_pd["Gender"].value_counts()
#count

#    .a. Create a variable for purchase count using the object
purchase_count = group_gender.count()['SN']
#    .b. Create a variable and calculate the mean (round it so it can properly format)
average_purchase_price = round(group_gender.mean(),2)['Price'].map("${:.2f}".format)
#    .c. Create a variable and calculate the sum of the purchase value
total_purchase_value = round(group_gender.sum())['Price'].map("${:.2f}".format)
#    .d. Create a variable and calculate the average purchase total by gender cnt
#avg_purchase_total_pp = round(total_purchase_value/purchase_count)

#        Create a variable and calculate the average price of the Age bin per person
#groupBy_ageBin_avgPricePerPerson = round(average_purchase_price.sum()/purchase_count)

In [20]:
# 11. Create and dispay data in summary data frame  
purchasing_analysis_gender = pd.DataFrame({"Purchase Count":purchase_count,
                                           "Avg Purchase Price":average_purchase_price})
#                                           "Total Purchase Value": total_purchase_value,
#                                           "Avg Purchase Total per Person:" avg_purchase_total_pp})
purchasing_analysis_gender

                       Purchase Count Avg Purchase Price
Gender
Female                            113              $3.20
Male                              652              $3.02
Other / Non-Disclosed              15              $3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [21]:
# 12. Age Demographics
#   .a.  Establish bins for ages
#   .b.  Categorize the existing players using the age bins. Hint: use pd.cut()
#   .c.  Calculate the numbers and percentages by age group
#   .d.  Create a summary data frame to hold the results
#   .e.  Optional: round the percentage column to two decimal points
#   .f.  Display Age Demographics Table

In [22]:
# a. Establish bins for ages (per the information provided to get the same results)
#age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
#group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [23]:
# .a.  Categorize the existing players (remember issues with duplicates found above)  - what is better solution for duplicates?
#      Initialize a new variable to track this (or could we use the old one from above)
unique_playersA = purchase_data.drop_duplicates(subset=['SN'])

In [24]:
# .b. Establish bins for ages 
#    Declare and initialize Bins and labels (use provided info to get same groupings)
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [25]:
# .c. Create a new Column = 'Total Count' which will put players into the bins by 'Age'
#  - code complains and wants a .loc indexer value
unique_playersA['Total Count'] = pd.cut(unique_playersA['Age'],age_bins,labels = group_names)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [26]:
# .d. Groupby new Column = 'Total Count' for bin counts. Limit display to Age'
groupby_agegroup = unique_playersA.groupby('Total Count').count()['Age']

In [27]:
# d.e. Create a dataframe  (need 2 columns: one=series two=percentage calculation
groupby_agegroup_df = pd.DataFrame({"Total Count":groupby_agegroup,
                                   "Percentage of Players":round(groupby_agegroup/total_players*100,2)}).rename_axis('')


groupby_agegroup_df

       Total Count  Percentage of Players

<10             17                   2.95
10-14           22                   3.82
15-19          107                  18.58
20-24          258                  44.79
25-29           77                  13.37
30-34           52                   9.03
35-39           31                   5.38
40+             12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [28]:
#  13. Purchasing Analysis (Age) 
# ''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''

In [29]:
#  13.a. Create bins for players by AGE for PURCHASE DATA
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data['Age Bin'] = pd.cut(purchase_data['Age'], age_bins, labels = group_names)

In [30]:
#  13.b. Create object using groupBy by Age using purchase data
groupBy_ageBin = purchase_data.groupby('Age Bin')

In [31]:
#  13.c. Create variables for count, mean (avg), sum.
#        Create variable for average price per person and round it so it can provide accurate info
#''''''''''''''''''''''''''''''''''''''''''''''
#        Create a variable and calculate counts for 'Purchase Count' column
groupBy_ageBin_count = groupBy_ageBin.count()['Purchase ID']
#        Create a variable and calculate the mean (avg) for 'Average Purchase Price'
groupBy_ageBin_mean = round(groupBy_ageBin.mean()['Price'],2)
#        Create a variable and calculate the sum for 'Total Purchase Value'
groupBy_ageBin_sum = groupBy_ageBin.sum()['Price']
#        Create a variable and calculate the average price of the Age bin per person
groupBy_ageBin_avgPricePerPerson = round(groupBy_ageBin_mean/groupBy_ageBin_count, 2)

In [32]:
#  13.d. Create a variable for the dataFrame and format it using the calculated variables
age_df = pd.DataFrame({"Purchase Count":groupBy_ageBin_count,
                       "Average Purchase Price":groupBy_ageBin_mean.map("${:.2f}".format),
                       "Total Purchase Value":groupBy_ageBin_sum.map("${:.2f}".format),
                       "Average Purchase Total per Person":groupBy_ageBin_avgPricePerPerson.map("${:.2f}".format)})
age_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person
Age Bin,,,,
<10,23,$3.35,$77.13,$0.15
10-14,28,$2.96,$82.78,$0.11
15-19,136,$3.04,$412.89,$0.02
20-24,365,$3.05,$1114.06,$0.01
25-29,101,$2.90,$293.00,$0.03
30-34,73,$2.93,$214.00,$0.04
35-39,41,$3.60,$147.67,$0.09
40+,13,$2.94,$38.24,$0.23

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [33]:
#  14. Top Spenders 
# ''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''

In [34]:
#  14.a. Run basic calculations to obtain the results in the table below
#        Create an Object using groupBy to evaluate the data
groupBy_SN = purchase_data.groupby('SN')

In [35]:
#  14.b. Create variables and calculations for dataframe
#        Setup variable and count by 'Purchase ID' for 'Purchase Count' columns
groupBy_SN_count = groupBy_SN.count()['Purchase ID']
#        Setup variable for mean by 'price' and 'Ave Purchase Price' columns
groupBy_SN_mean = groupBy_SN.mean()['Price']
#        Setup variable for sum by 'Price' for 'Total Purchase Value'
groupBy_SN_sum = groupBy_SN.sum()['Price']

In [36]:
#  14.c. Create a dataframe and FORMAT & SORT within the dataframe 
#        Display summary data frame Optional: give the displayed data cleaner formatting

top_spenders = pd.DataFrame({"Purchase Count":groupBy_SN_count,
                             "Average Purchase Price":round(groupBy_SN_mean,2),
                             "Total Purchase Value":round(groupBy_SN_sum,2)},
                            columns = ["Purchase Count",
                                       "Average Purchase Price",
                                       "Total Purchase Value"]).sort_values('Total Purchase Value', ascending = False)
#format value with $
top_spenders['Average Purchase Price'] = top_spenders['Average Purchase Price'].map("${:.2f}".format)
top_spenders['Total Purchase Value'] = top_spenders['Total Purchase Value'].map("${:.2f}".format)
top_spenders.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [37]:
#  15. Most Popular Items
#  ''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''

In [38]:
#  15.a Use the Purchase data from the purchase data csv / and create grouping and a most_popular_items dataframe (create object)
groupBy_item = purchase_data.groupby(["Item ID","Item Name"])
groupBy_item

In [39]:
# 15.b Create a groupby to track the item's counts (generates the list of items and counts using the Item ID as index)
item_count = groupBy_item.count()['Purchase ID']
item_count

Item ID  Item Name
0        Splinter                                         4
1        Crucifer                                         3
2        Verdict                                          6
3        Phantomlight                                     6
4        Bloodlord's Fetish                               5
5        Putrid Fan                                       4
6        Rusty Skull                                      2
7        Thorn, Satchel of Dark Souls                     7
8        Purgatory, Gem of Regret                         3
9        Thorn, Conqueror of the Corrupted                4
10       Sleepwalker                                      4
11       Brimstone                                        5
12       Dawne                                            6
13       Serenity                                         4
14       Possessed Core                                   2
15       Soul Infused Crystal                             5
16       Restored Bauble                                  4
17       Lazarus, Terror of the Earth                     4
18       Torchlight, Bond of Storms                       2
19       Pursuit, Cudgel of Necromancy                    8
20       Netherbane                                       5
21       Souleater                                        5
22       Amnesia                                          6
23       Crucifer                                         1
24       Warped Fetish                                    5
25       Hero Cane                                        6
26       Unholy Wand                                      2
27       Riddle, Tribute of Ended Dreams                  1
28       Flux, Destroyer of Due Diligence                 2
29       Chaos, Ender of the End                          5
                                                         ..
154      Feral Katana                                     4
155      War-Forged Gold Deflector                        5
156      Soul-Forged Steel Shortsword                     5
157      Spada, Etcher of Hatred                          4
158      Darkheart, Butcher of the Champion               2
159      Oathbreaker, Spellblade of Trials                7
160      Azurewrath                                       6
161      Devine                                           5
162      Abyssal Shard                                    5
163      Thunderfury Scimitar                             5
164      Exiled Doomblade                                 7
165      Bone Crushing Silver Skewer                      4
166      Thirsty Iron Reaver                              3
167      Malice, Legacy of the Queen                      4
168      Sun Strike, Jaws of Twisted Visions              2
169      Interrogator, Blood Blade of the Queen           4
170      Shadowsteel                                      4
171      Scalpel                                          3
172      Blade of the Grave                               4
173      Stormfury Longsword                              2
174      Primitive Blade                                  4
175      Woeful Adamantite Claymore                       3
176      Relentless Iron Skewer                           2
177      Winterthorn, Defender of Shifting Worlds         2
178      Oathbreaker, Last Hope of the Breaking Storm    12
179      Wolf, Promise of the Moonwalker                  6
180      Stormcaller                                      1
181      Reaper's Toll                                    5
182      Toothpick                                        3
183      Dragon's Greatsword                              3
Name: Purchase ID, Length: 183, dtype: int64

In [40]:
# 15.c Create a variable for each item's price  (creates another object for the series - non-visual)
item_price = groupBy_item['Price']
item_price

In [41]:
# 15.d Create a variable for each item's total purchase value (creates a list of each item by Item ID and displays pricing)
item_total_val = groupBy_item.sum()['Price']
item_total_val

Item ID  Item Name
0        Splinter                                         5.12
1        Crucifer                                         9.78
2        Verdict                                         14.88
3        Phantomlight                                    14.94
4        Bloodlord's Fetish                               8.50
5        Putrid Fan                                      16.32
6        Rusty Skull                                      7.40
7        Thorn, Satchel of Dark Souls                     9.31
8        Purgatory, Gem of Regret                        11.79
9        Thorn, Conqueror of the Corrupted               10.92
10       Sleepwalker                                      7.16
11       Brimstone                                       18.25
12       Dawne                                            6.12
13       Serenity                                         5.64
14       Possessed Core                                   5.22
15       Soul Infused Crystal                            14.80
16       Restored Bauble                                 14.20
17       Lazarus, Terror of the Earth                     6.80
18       Torchlight, Bond of Storms                       9.30
19       Pursuit, Cudgel of Necromancy                    8.16
20       Netherbane                                      16.35
21       Souleater                                        5.50
22       Amnesia                                         13.08
23       Crucifer                                         1.99
24       Warped Fetish                                   19.05
25       Hero Cane                                       26.10
26       Unholy Wand                                      2.24
27       Riddle, Tribute of Ended Dreams                  3.30
28       Flux, Destroyer of Due Diligence                 2.12
29       Chaos, Ender of the End                          9.90
                                                         ...
154      Feral Katana                                    17.60
155      War-Forged Gold Deflector                        5.05
156      Soul-Forged Steel Shortsword                     8.85
157      Spada, Etcher of Hatred                         19.20
158      Darkheart, Butcher of the Champion               4.90
159      Oathbreaker, Spellblade of Trials               21.56
160      Azurewrath                                      26.40
161      Devine                                           8.80
162      Abyssal Shard                                   13.35
163      Thunderfury Scimitar                            17.25
164      Exiled Doomblade                                11.41
165      Bone Crushing Silver Skewer                     19.44
166      Thirsty Iron Reaver                              9.21
167      Malice, Legacy of the Queen                     14.44
168      Sun Strike, Jaws of Twisted Visions              2.96
169      Interrogator, Blood Blade of the Queen           8.72
170      Shadowsteel                                     15.88
171      Scalpel                                          5.37
172      Blade of the Grave                              12.56
173      Stormfury Longsword                              9.86
174      Primitive Blade                                 13.88
175      Woeful Adamantite Claymore                      13.44
176      Relentless Iron Skewer                           5.68
177      Winterthorn, Defender of Shifting Worlds         4.16
178      Oathbreaker, Last Hope of the Breaking Storm    50.76
179      Wolf, Promise of the Moonwalker                 26.88
180      Stormcaller                                      3.36
181      Reaper's Toll                                    8.30
182      Toothpick                                       12.09
183      Dragon's Greatsword                              3.27
Name: Price, Length: 183, dtype: float64

In [46]:
# 15.e Create a summary dataframe for the most popular items 
#        (generates a summary table to show the items: cnts x price=total value)

most_popular_items = pd.DataFrame({"Purchase Count":item_count,
                          "Item Price":item_price.first(),
                          "Total Purchase Value":item_total_val},
                          columns = ['Purchase Count',
                                     'Item Price',
                                     'Total Purchase Value']).sort_values('Purchase Count', ascending = False)
most_popular_items['Item Price'] = most_popular_items['Item Price'].map("${:.2f}".format)
most_popular_items['Total Purchase Value'] = most_popular_items['Total Purchase Value'].map("${:.2f}".format)
most_popular_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [43]:
#  16. Most Profitable Items 
# ''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''

In [56]:
# Sort the item DataFrame by the 'Total Purchase Value' column in descending order
most_popular_items = pd.DataFrame({"Item Price":item_price.first(),
                                   "Purchase Count":item_count,
                                   "Total Purchase Value":item_total_val},
                          columns = ['Purchase Count',
                                     'Item Price',
                                     'Total Purchase Value']).sort_values('Purchase Count', ascending = False)
most_popular_items['Item Price'] = most_popular_items['Item Price'].map("${:.2f}".format)
most_popular_items['Total Purchase Value'] = most_popular_items['Total Purchase Value'].map("${:.2f}".format)
most_popular_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16